.details-card {
  max-width: 700px;
  margin: 0 auto;
  background: #1d1d32;
  color: #f5f5ff;
}

.no-image {
  height: 360px;
  display: grid;
  place-items: center;
  background: #2d2d47;
  color: #ddd;
}

.center-content {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
